<router-outlet *ngIf="isLoggedIn()"></router-outlet>
<div class="main-container"  *ngIf="!isLoggedIn()">
  <div class="container">
    <div class="title">
      <div class="db">
        <div class="appName">
          ApnaSocial
        </div>
          <div class="appDesc">
            Connect and share anything and everything with your friends.
        </div>
      </div>
    </div>
    <div class="login-card">
      <app-register (navigateListener)="NavigateTo($event)" *ngIf="navTo == 'register'"></app-register>
      <app-forgot-password (navigateListener)="NavigateTo($event)" *ngIf="navTo == 'forgot'"></app-forgot-password>
      <app-login  (navigateListener)="NavigateTo($event)" *ngIf="navTo== 'login'" name="reg"></app-login>
    </div>
  </div>